@**************************************************************************
# Copyright 2014 Comcast Cable Communications Management, LLC
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
**************************************************************************@

@(brokers: Seq[kafka.BrokerNode], zookeepers: Seq[String])(implicit flash: Flash)

@main("Kafka Admin Console") {

<div class="row-fluid">
    <div class="span12">
        <h2>Brokers</h2>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="cluster_brokers">
            <thead>
            <tr>
                <th>Id</th>
                <th>Host</th>
                <th>Port</th>
            </tr>
            </thead>
            <tbody>
            @for(broker <- brokers) {
            <tr>
                <td>@broker.id</td>
                <td>@broker.host</td>
                <td>@broker.port</td>
            </tr>
            }
            </tbody>

        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
    $('#cluster_brokers').dataTable( {
    "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
    "bInfo": false,
    "bPaginate": false,
    "sPaginationType": "bootstrap",
    "oLanguage": {
    "sEmptyTable": "<div class='alert alert-error'>There are no brokers available.</div>"
    }
    });
    });
</script>
<div class="row-fluid">
    <div class="span12">
        <h2>Zookeepers</h2>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="cluster_zk">
            <thead>
            <tr>
                <th>Hosts</th>
            </tr>
            </thead>
            <tbody>
            @for(zk <- zookeepers) {
            <tr>
                <td>@zk</td>
            </tr>
            }
            </tbody>

        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
    $('#cluster_zk').dataTable( {
    "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
    "bInfo": false,
    "bPaginate": false,
    "sPaginationType": "bootstrap",
    "oLanguage": {
    "sEmptyTable": "<div class='alert alert-error'>There are no zookeepers available.</div>"
    }
    });
    });
</script>
}
